<div class="vehicle-wrap">
    <div class="vehicle-description">
        <h1>{{title | uppercase}}</h1>
        <p>
            Найбільший у світі самоскид вантажопідйомністю 450 тонн.  Перший випущений самоскид експлуатуватиметься на вугільному розрізі «Чернігівець» у м. Березовський Кемеровської області. У січні 2014 року вантажівка встановила рекорд Гіннесса в країнах Європи та СНД, провізши по випробувальному полігону вантаж вагою в 503,5 тонни.
        </p>
        <table>
            <tr>
                <td>Довжина х Ширина х Висота, мм</td>
                <td>{{length}} х {{width}} х {{height}}</td>
            </tr>
            <tr>
                <td>Повна маса, т</td>
                <td>{{weight}}</td>
            </tr>
            <tr>
                <td>Максимальна швидкість, км/год</td>
                <td>{{speed}}</td>
            </tr>
        </table>
    </div>
    <img src={{img}} alt="car">
</div>