<div class="container">
    <div class="wrap">
      <div class="text-wrap">
        <h1>{{h1 | uppercase}}</h1>
        <ul class="quotation-list">
          <li>«{{quotation1}}»</li>
          <li>«{{quotation2}}»</li>
          <li>«{{quotation3}}»</li>
          <li>«{{quotation4}}»</li>
          <li>«{{quotation5}}»</li>
        </ul>
        <h2>{{title}}</h2>
        <p>{{text}}</p>
        <ul class="link-list">
          <li><a href={{link1}} target="_blank">{{link1}}</a></li>
          <li><a href={{link2}} target="_blank">{{link2}}</a></li>
          <li><a href={{link3}} target="_blank">{{link3}}</a></li>
          <li><a href={{link4}} target="_blank">{{link4}}</a></li>
        </ul>      
      </div>
      <img src={{imglink}} alt="Bill Gates">
    </div>
  </div>
  
  