<div class="main-box">
    <div class="about">
        <h2 class="title">Колекціонування друкарських машинок</h2>
        <p class="description">
            Найперша з відомих конструкцій друкарських машинок була запатентована Генрі Міллом в Англії в 1714. Пізніше, в 1808 році, італієць Пеллегріно Туррі виготовив друкарську машинку власної конструкції для графині Кароліни Фантоні де Фівіззоно. Мадам Кароліна не могла писати листа від руки, оскільки страждала сліпотою, і пристрій потрібен був для того, щоб вона могла вести листування з друзями. Однак, цей зразок інженерної думки не зберігся. Докази ж існування друкарської машинки Туррі існують і сьогодні — збереглися листи графині.
        </p>
    </div>
    <div class="images">
        <img src="../../assets/hobby/main.jpg" alt="machine">
        <img src="../../assets/hobby/human.jpg" alt="Tom Hanks">
    </div>
</div>