<header class="header">
    <div class="container">
        <ul class="menu-list">
            <li><a href="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a href="Bill_Gates" routerLinkActive="active">Bill Gates</a></li>
            <li><a href="Resume"  routerLinkActive="active">Resume</a></li>
            <li><a href="Hobby"  routerLinkActive="active">Hobby</a></li>
        </ul>
    </div>
</header>
<!-- <app-bill-gates></app-bill-gates> -->
<!-- <app-hobby></app-hobby> -->
<!-- <app-resume></app-resume> -->
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <p>Hello, i`m footer</p>
    </div>
</footer>