<header class="header">
    <div class="container">
        <ul class="menu-list">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/" class="menu-link">Home</a></li>
            <li routerLinkActive="active"><a routerLink="Bill_Gates" class="menu-link" >Bill Gates</a></li>
            <li routerLinkActive="active"><a routerLink="Resume" class="menu-link">Resume</a></li>
            <li routerLinkActive="active"><a routerLink="Hobby" class="menu-link">Hobby</a></li>
        </ul>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <p>Hello, i`m footer</p>
    </div>
</footer>