<div class="vehicle-wrap">
    <div class="vehicle-description">
        <h1>{{title | uppercase}}</h1>
    <p>найбільший та найпотужніший у світі транспортний літак , створений київським КБ імені Антонова. Головний конструктор — Віктор Ілліч Толмачов.</p>
    <p>	250-300 млн.$</p>
    <table>
        <tr>
            <td>Вартість одиниці</td>
            <td> {{price | currency}}</td>
        </tr>
        <tr>
            <td>Перший політ</td>
            <td> {{date}}</td>
        </tr>
        <tr>
            <td>Довжина</td>
            <td>{{length}} м</td>
        </tr>
        <tr>
            <td>Розмах крила</td>
            <td>{{wing}} м</td>
        </tr>
        <tr>
            <td>Площа крила</td>
            <td>{{area}} м²</td>
        </tr>
        <tr>
            <td>Висота</td>
            <td>{{height}} м</td>
        </tr>
    </table>
    </div>
    <img src={{img}} alt="airplane">
</div>
