.container{
    background-color: rgb(237, 212, 230);
    padding: 15px;
}
.resume-list{
    list-style: none;
}
.flex-wrap{
    display: flex;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    border: 1px solid #000;
}
.img-wrap{
    flex-grow: 1;
}
img{
    width: 300px;
}
.link-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.link-list img{
    width: 36px;
    transform: scale(1);
    transition: ease transform 0.5s;
}
.link-list img:hover{
    transition: ease transform 0.5s;
    transform: scale(1.2);
}

